NEW SHOUT OUTS
<div id="sits_and_starts" style="width: 100%; height: 400px;"></div>
<div id="average_number_of_sits_and_starts" style="width: 100%; height: 400px;"></div>

<script>

$().ready(function() {
	create_generic_chart("sits_and_starts", ["shout_outs"])
	create_generic_chart("average_number_of_sits_and_starts", ["avg_count"])

});





</script>