TRADERS LAST WEEK <br>
<div id="traders_last_week" style="width: 100%; height: 400px;"></div><br>
<script>
$().ready(function() {
	    var chart;
	    var chartData = [];
	    var chartCursor;



	    AmCharts.ready(function () {
	    	function ajaxChartData(data_type) {
				var get_result = [];
	        	$.ajax({url: "/analytics/data/" + data_type, 
	                    async: false, 
	                    success: function(data){
	                        for(i=0; i<data["data"].length; i++) {
								chartData.push({"date": new Date(data["data"][i]["date"]), "traders": data["data"][i]["traders"]});
							}
	                    }
	            })
	        }

	        ajaxChartData("traders_last_week");
	        // generateChartData();
	        console.log(chartData);
	        // SERIAL CHART    
	        chart = new AmCharts.AmSerialChart();
			chart.pathToImages = "/assets/amcharts/";
	        chart.zoomOutButton = {
	            backgroundColor: '#000000',
	            backgroundAlpha: 0.15
	        };
	        chart.dataProvider = chartData;
	        chart.categoryField = "date";

	        // listen for "dataUpdated" event (fired when chart is rendered) and call zoomChart method when it happens
	        // chart.addListener("dataUpdated", zoomChart);

	        // AXES
	        // category
	        var categoryAxis = chart.categoryAxis;
	        categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
	        categoryAxis.minPeriod = "DD"; // our data is daily, so we set minPeriod to DD
	        categoryAxis.dashLength = 1;
	        categoryAxis.gridAlpha = 0.15;
	        categoryAxis.axisColor = "#DADADA";

	        // value                
	        var valueAxis = new AmCharts.ValueAxis();
	        valueAxis.axisAlpha = 0.2;
	        valueAxis.dashLength = 1;
	        chart.addValueAxis(valueAxis);

	        // GRAPH
	        var graph = new AmCharts.AmGraph();
	        graph.title = "red line";
	        graph.valueField = "traders";
	        graph.bullet = "round";
	        graph.bulletBorderColor = "#FFFFFF";
	        graph.bulletBorderThickness = 2;
	        graph.lineThickness = 2;
	        graph.lineColor = "#b5030d";
	        graph.negativeLineColor = "#0352b5";
	        graph.hideBulletsCount = 50; // this makes the chart to hide bullets when there are more than 50 series in selection
	        chart.addGraph(graph);


	        // CURSOR
	        chartCursor = new AmCharts.ChartCursor();
	        chartCursor.cursorPosition = "mouse";
	        chart.addChartCursor(chartCursor);

	        // SCROLLBAR
	        var chartScrollbar = new AmCharts.ChartScrollbar();
	        chartScrollbar.graph = graph;
	        chartScrollbar.scrollbarHeight = 40;
	        chartScrollbar.color = "#FFFFFF";
	        chartScrollbar.autoGridCount = true;
	        chart.addChartScrollbar(chartScrollbar);

	        // WRITE
	        chart.write("traders_last_week");
	    });




});
</script>

